{% extends "layout.html" %}

{% block title %}FAQ{% endblock %}

{% block main %}
<div class="faq">
    <h4>Q. How long can a book be checked out?</h4>
    <p>Each book can be checked out for up to three (3) weeks.</p>
    <br>

    <h4>Q. How do I borrow books from the library?</h4>
    <p>
        To borrow books, you need to have a valid library card issued by the library. Locate the books you want to borrow using the library's catalog. The librarian will scan your card and the books, then check them out to you.
    </p>
    <br>

    <h4>Q. How can I renew books I've borrowed?</h4>
    <p>
        Most libraries allow you to renew borrowed books, usually online through the library's website or by phone. Navigate to the 'Checkout' section to view the books you've borrowed and select the books you want to renew.
    </p>
    <br>

    <h4>Q. What should I do if I lose a library book or it gets damaged?</h4>
    <p>
        If you lose or damage a library book, it's essential to report it to the library ASAP. You will likely be asked to pay for the replacement cost of the lost or damaged book, which may include processing fees. Ignoring or delaying reporting a lost or damaged book may result in fines or penelaties.
    </p>
</div>
   
{% endblock %}